@import "tailwindcss";

:root {
  --background: #07090E;
  --foreground: #F1F5F9;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}