@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #07090E;
  --foreground: #F1F5F9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera-তে নাম্বার ইনপুট ক্লিন রাখা */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}